.header{
    text-align: center;
    font-size: 50px;
    font-weight: bolder;
    margin-top: 20px;
}
/* .main{
    overflow: hidden;
    width: 400px;
    margin: auto;
    margin-bottom: 40px;
} */
.loginspan{
    display: flex;
    text-align: right;
    cursor: pointer;
    color: rgb(4, 32, 84);
}